.float{
    float: left;
}
.today{
    margin-top: 200px;
}
.hello{
    margin-left: 0%;
    margin-top: -20px;
}
.hello0{
    margin-left: 0%;
    margin-top: 15px;
}
.hello1{
    margin-left: -45%;
    margin-top: -130px;
}
.margin{
    margin-top: 40px;
}
.box{
    position: fixed;
    bottom: 40%;
    left: 8%;
}
.box1{
    position: fixed;
    top: 0%;
    left: 8%;
}
.box2{
    position: fixed;
    left: 8%;
    bottom: 5%;
}
.box3{
    width: 30%;
    height: 75%;
    background-color: black;
    background-color: rgba(255, 255, 255, 0.2);
    filter:alpha 50;
    position: fixed;
    top: 14%;
    right: 3%;
    border-radius: 30px;
}
